html {
  height: 100%;
}

body {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.card {
  padding: 25px 20px 25px;
  border: 2px solid #000000;
  max-width: 600px;
  margin: 100px auto;
  margin-bottom: 0;
}
.input-box {
  position: relative;
  padding: 0 0 0 25px;
}
.form-control {
  border-radius: 20px;
  border: 3px solid #1ab2a8;
  margin: 10px 0px 60px;
  display: block;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 22px;
  color: #ced4da;
}
#submit-button {
  background-color: none;
  padding: 0;
  border: none;
}
.btn-light {
  border: solid 1px #bdbdbd;
  display: inline-block;
  font-size: small;
  padding: 0px;
  position: absolute;
  margin: 10px;
}
.present-current-day,
.present-current-temp {
  text-align: center;
  font-size: 22px;
  border: 3px solid #dfdfdf;
  width: 80%;
}
#degrees {
  position: absolute;
  right: 20px;
  font-size: large;
}
.present-current-temp .active {
  color: black;
  cursor: default;
}
.present-current-temp .active :hover {
  cursor: default;
}
.present-current-day {
  margin-left: 20%;
}
hr {
  border: 2px solid hsl(174, 6%, 69%);
  color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
#weather-icon {
  max-width: 28px;
  max-height: 28px;
  position: relative;
  top: -3px;
}
#humidity,
#wind,
#current-day-time,
#weather-description {
  font-size: small;
}
#weather-description {
  text-transform: capitalize;
  display: inline;
  position: relative;
  top: -3px;
}
#linkToGit {
  text-align: center;
  font-size: smaller;
}
#linkRef,
#celsius,
#fahrenheit {
  text-decoration: none;
}
.forecast-week-days {
  text-align: center;
}
.forecast-max-temp,
.forecast-min-temp {
  font-size: small;
}
.forecast-min-temp {
  opacity: 0.7;
}
